body {
    background-color: #003300;
    background-image: url('');
    background-repeat: repeat;
    font-family: 'Comic Sans MS';
    cursor: url('liamcursor.cur'), auto;
}
.navigation {
    font-family: 'Comic Sans MS', cursive;
}
.button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
blinking-text {
    animation: blink 0.5s infinite;
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.header-gif {
    width: 100px;
    height: 100px;
    animation: spin 4s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}